body {
    background-image: url(index.jpg);
    font-family: Whyte-Medium;
    justify-content: center;
    text-align: center;
    width: auto;
    height: 50px;

    
}

@font-face {
    font-family: Whyte-Medium;
    src: url(Whyte-Medium.ttf);
}


button{
    color: blueviolet;
    border-radius: 40px;
    padding: 15px 30px;
    font-style: normal;
}

.main{
    background-color: white;
    justify-content: center;
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 60px;


}

h1{
    padding-top: 100px;
    font-family: Whyte-Medium;

}

h2{
    font-size: 50px;
}